In [14]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
%ls

drive/  sample_data/

In [17]:
test = pd.read_csv("/content/drive/MyDrive/7313Project/test_with_all.csv")
train = pd.read_csv("/content/drive/MyDrive/7313Project/train_with_all.csv")
testn = pd.read_csv("/content/drive/MyDrive/7313Project/test_with_all.csv")
train_y = pd.read_csv("/content/drive/MyDrive/7313Project/target.csv")

In [18]:
test.head()

,Unnamed: 0,id,is_cup,home_team_history_is_cup_1,home_team_history_is_cup_2,home_team_history_is_cup_3,home_team_history_is_cup_4,home_team_history_is_cup_5,home_team_history_is_cup_6,home_team_history_is_cup_7,...,away_losses_in_away,away_recorded_matches,away_unrecorded_matches,home_team_average_rest,away_team_average_rest,home_team_history_current_rest,home_average_rating_difference_in_home,home_average_rating_difference_in_away,away_average_rating_difference_in_home,away_average_rating_difference_in_away
0,0,17761448,False,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,4.0,10.0,0.0,4.8,7.0,2.0,-2.467654,-3.084786,-0.272358,-2.546088
1,1,17695487,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,10.0,0.0,6.9,6.8,6.0,0.361742,-2.824935,1.449075,-1.534262
2,2,17715496,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,10.0,0.0,24.7,16.8,2.0,-1.168252,-3.250998,-0.786934,-3.132680
3,3,17715493,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,10.0,0.0,24.8,13.8,2.0,-1.212233,-2.767350,3.049678,1.436323
4,4,17715492,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,10.0,0.0,23.4,23.8,2.0,0.715747,-1.951464,-0.870840,-3.645382

In [19]:
train.describe()

,Unnamed: 0,id,home_team_history_is_cup_1,home_team_history_is_cup_2,home_team_history_is_cup_3,home_team_history_is_cup_4,home_team_history_is_cup_5,home_team_history_is_cup_6,home_team_history_is_cup_7,home_team_history_is_cup_8,...,away_losses_in_away,away_recorded_matches,away_unrecorded_matches,home_team_average_rest,away_team_average_rest,home_team_history_current_rest,home_average_rating_difference_in_home,home_average_rating_difference_in_away,away_average_rating_difference_in_home,away_average_rating_difference_in_away
count,110938.000000,1.109380e+05,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,...,110938.000000,110938.000000,110938.000000,97379.000000,96722.000000,109779.000000,108341.000000,108969.000000,108561.000000,108329.000000
mean,55468.500000,1.519875e+07,0.082289,0.081811,0.080270,0.080216,0.079720,0.078242,0.077737,0.074952,...,1.928717,9.306505,0.693495,15.121823,15.166627,17.493819,1.306217,-1.194329,1.255148,-1.227659
std,32025.186419,2.536393e+06,0.274806,0.274078,0.271712,0.271628,0.270861,0.268553,0.267759,0.263315,...,1.325417,2.073839,2.073839,11.695677,11.778241,46.421426,2.961847,2.935420,2.954787,2.958102
min,0.000000,1.142829e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.600000,1.600000,0.000000,-34.222450,-31.520250,-34.222450,-31.520250
25%,27734.250000,1.200038e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,10.000000,0.000000,6.700000,6.700000,4.000000,-0.256183,-2.822163,-0.276617,-2.855908
50%,55468.500000,1.675988e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,10.000000,0.000000,9.900000,9.900000,6.000000,1.226579,-1.272393,1.191730,-1.300183
75%,83202.750000,1.724230e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,10.000000,0.000000,21.600000,21.600000,9.000000,2.883294,0.337737,2.835521,0.306605
max,110937.000000,1.805384e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,9.000000,10.000000,10.000000,79.500000,81.200000,763.000000,26.818050,34.027600,24.980000,34.027600

In [20]:
train.head()

,Unnamed: 0,id,is_cup,home_team_history_is_cup_1,home_team_history_is_cup_2,home_team_history_is_cup_3,home_team_history_is_cup_4,home_team_history_is_cup_5,home_team_history_is_cup_6,home_team_history_is_cup_7,...,away_losses_in_away,away_recorded_matches,away_unrecorded_matches,home_team_average_rest,away_team_average_rest,home_team_history_current_rest,home_average_rating_difference_in_home,home_average_rating_difference_in_away,away_average_rating_difference_in_home,away_average_rating_difference_in_away
0,0,11906497,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,10.0,0.0,9.0,6.0,5.0,3.244191,-1.051858,7.090604,1.244874
1,1,11984383,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,10.0,0.0,6.2,7.7,3.0,6.305478,1.482656,-0.919512,-2.150608
2,2,11983301,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,10.0,0.0,7.3,7.3,2.0,4.469850,-1.875380,3.905558,0.958120
3,3,11983471,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,10.0,0.0,6.6,6.5,3.0,4.569111,0.364704,1.414618,-2.716863
4,4,11883005,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,10.0,0.0,6.3,6.2,3.0,4.493929,-0.720610,1.999407,-3.110712

In [21]:
train.drop(train.iloc[:, [0,1]], axis=1, inplace=True)

In [22]:
train.head()

,is_cup,home_team_history_is_cup_1,home_team_history_is_cup_2,home_team_history_is_cup_3,home_team_history_is_cup_4,home_team_history_is_cup_5,home_team_history_is_cup_6,home_team_history_is_cup_7,home_team_history_is_cup_8,home_team_history_is_cup_9,...,away_losses_in_away,away_recorded_matches,away_unrecorded_matches,home_team_average_rest,away_team_average_rest,home_team_history_current_rest,home_average_rating_difference_in_home,home_average_rating_difference_in_away,away_average_rating_difference_in_home,away_average_rating_difference_in_away
0,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,10.0,0.0,9.0,6.0,5.0,3.244191,-1.051858,7.090604,1.244874
1,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,10.0,0.0,6.2,7.7,3.0,6.305478,1.482656,-0.919512,-2.150608
2,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,10.0,0.0,7.3,7.3,2.0,4.469850,-1.875380,3.905558,0.958120
3,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,10.0,0.0,6.6,6.5,3.0,4.569111,0.364704,1.414618,-2.716863
4,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,10.0,0.0,6.3,6.2,3.0,4.493929,-0.720610,1.999407,-3.110712

In [23]:
test.drop(test.iloc[:, [0,1]], axis=1, inplace=True)

In [24]:
test.head()

,is_cup,home_team_history_is_cup_1,home_team_history_is_cup_2,home_team_history_is_cup_3,home_team_history_is_cup_4,home_team_history_is_cup_5,home_team_history_is_cup_6,home_team_history_is_cup_7,home_team_history_is_cup_8,home_team_history_is_cup_9,...,away_losses_in_away,away_recorded_matches,away_unrecorded_matches,home_team_average_rest,away_team_average_rest,home_team_history_current_rest,home_average_rating_difference_in_home,home_average_rating_difference_in_away,away_average_rating_difference_in_home,away_average_rating_difference_in_away
0,False,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,4.0,10.0,0.0,4.8,7.0,2.0,-2.467654,-3.084786,-0.272358,-2.546088
1,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,10.0,0.0,6.9,6.8,6.0,0.361742,-2.824935,1.449075,-1.534262
2,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,10.0,0.0,24.7,16.8,2.0,-1.168252,-3.250998,-0.786934,-3.132680
3,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,10.0,0.0,24.8,13.8,2.0,-1.212233,-2.767350,3.049678,1.436323
4,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,10.0,0.0,23.4,23.8,2.0,0.715747,-1.951464,-0.870840,-3.645382

In [25]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [26]:
train['is_cup'] = labelencoder.fit_transform(train['is_cup'])
test['is_cup'] = labelencoder.fit_transform(test['is_cup'])
train_y['target'].replace({"home": 0, "draw": 1, "away":2}, inplace=True)
train.drop(train.filter(regex='recorded_matches').columns, axis=1, inplace = True)
test.drop(test.filter(regex='recorded_matches').columns, axis=1, inplace = True)

In [27]:
train_x = train.copy()
train_x.head()

,is_cup,home_team_history_is_cup_1,home_team_history_is_cup_2,home_team_history_is_cup_3,home_team_history_is_cup_4,home_team_history_is_cup_5,home_team_history_is_cup_6,home_team_history_is_cup_7,home_team_history_is_cup_8,home_team_history_is_cup_9,...,away_draws_in_away,away_losses_in_home,away_losses_in_away,home_team_average_rest,away_team_average_rest,home_team_history_current_rest,home_average_rating_difference_in_home,home_average_rating_difference_in_away,away_average_rating_difference_in_home,away_average_rating_difference_in_away
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,9.0,6.0,5.0,3.244191,-1.051858,7.090604,1.244874
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,3.0,6.2,7.7,3.0,6.305478,1.482656,-0.919512,-2.150608
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,7.3,7.3,2.0,4.469850,-1.875380,3.905558,0.958120
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,6.6,6.5,3.0,4.569111,0.364704,1.414618,-2.716863
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,2.0,6.3,6.2,3.0,4.493929,-0.720610,1.999407,-3.110712

In [28]:
train_x.fillna(train_x.mean(), inplace=True)
test.fillna(test.mean(), inplace=True)

In [29]:
from sklearn.preprocessing import StandardScaler


sc = StandardScaler()
X_train_std = sc.fit_transform(train_x)

In [30]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(penalty='l1', C=1.0, solver='liblinear', multi_class='ovr')
# Note that C=1.0 is the default. You can increase
# or decrease it to make the regulariztion effect
# stronger or weaker, respectively.
lr.fit(X_train_std, train_y)
print('Training accuracy:', lr.score(X_train_std, train_y))

Training accuracy: 0.500639997115506

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE



lr = LogisticRegression(solver='liblinear', random_state=123)

rfe = RFE(estimator=lr, n_features_to_select=10, step=1)
rfe.fit(X_train_std, train_y)

X_train_sub = rfe.transform(X_train_std)

In [32]:
train_x.columns[:][rfe.support_]

Index(['home_team_history_is_play_home_2_A',
       'home_team_history_is_play_home_2_H',
       'away_team_history_is_play_home_1_A',
       'away_team_history_is_play_home_1_H', 'home_average_rating_in_home',
       'home_average_rating_in_away', 'home_average_rating_difference_in_home',
       'home_average_rating_difference_in_away',
       'away_average_rating_difference_in_home',
       'away_average_rating_difference_in_away'],
      dtype='object')

In [33]:
from sklearn.feature_selection import SequentialFeatureSelector


sfs1 = SequentialFeatureSelector(lr, 
           n_features_to_select=10)


sfs1 = sfs1.fit(X_train_std, train_y)

In [34]:
train_x.columns[:][sfs1.get_support()]

Index(['home_team_history_opponent_goal_2', 'home_team_history_DIFF_goal_1',
       'away_team_history_DIFF_goal_1', 'home_team_history_DIFF_goal_3',
       'away_team_history_SAME_coaX_4', 'away_team_history_DIFF_goal_6',
       'home_average_rating_difference_in_home',
       'home_average_rating_difference_in_away',
       'away_average_rating_difference_in_home',
       'away_average_rating_difference_in_away'],
      dtype='object')